
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #171717;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.app-color {
  color: #ff0000;
}


.app-btn-color-outline {
  border-color: #ff0000 !important;
  color: #ff0000;
}

.app-btn-color {
  background-color: #ff0000;
}

.app-btn-color-outline:hover {
  background-color: #ff0000;
  color: white;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.main-section-item .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #ff0000;
}

.main-section-item .content ul {
  list-style: none;
  padding: 0;
}

.main-section-item .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.main-section-item .content ul strong {
  margin-right: 10px;
}

.main-section-item .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #ff0000;
  line-height: 0;
}

.main-section-item .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

@media (max-width: 1199px) {
  #section {
    /* padding: 30px 0; */
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: inherit;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  /* color: #ff0000; */
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff0000;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
